<div class="content">
    <!-- Navbar -->
    <nav
      class="navbar navbar navbar-light p-2 px-4 justify-content-space-between"
    >
      <div class="profile-name-container ms-2">
        <span class="d-flex greetings" [ngStyle]="fontStyle('500', '15px')">Welcome Back!</span>
        <span class="d-block profile-name" [ngStyle]="fontStyle('700', '25px')">Hi Jonathan,</span>
      </div>
      <div class="d-flex gap-4 second-profile-name-container px-3">
        <button class="btn btn-success">Upgrade Plan: 2days Left</button>
        <div class="line">
          <span class="mdi--bell-outline"></span>
          <span class="ei--exclamation"></span>

          <span class="tabler--exclamation-circle"></span>
          <img src="../assets/img-profile.png" class="rounded" alt="" />
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
      </div>
    </nav>

    <div class="container my-4 px-4">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
        <div class="col">
          <div class="card shadow-sm" style="background-color: #0265dc">
            <div class="card-edit ps-3">
              <div class="first-section p-3">
                <span class="ic--sharp-bar-chart"></span>
              </div>
              <div class="second-section ms-3">
                <span style="color: #f0f0f0" class="card-sm-text">Inbox</span>
                <h5 style="color: #ffffff" class="card-bg-text">15230</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="background-color: #ffffff">
            <div class="card-edit ps-3">
              <div class="first-section p-3">
                <span class="ic--sharp-bar-chart"></span>
              </div>
              <div class="second-section ms-3">
                <span class="card-sm-text">Outbox</span>
                <h5 class="card-bg-text">526</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="background-color: #ffffff">
            <div class="card-edit ps-3">
              <div class="first-section p-3">
                <span class="ic--sharp-bar-chart"></span>
              </div>
              <div class="second-section ms-3">
                <span class="card-sm-text">Completed</span>
                <h5 class="card-bg-text">2563</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="background-color: #ffffff">
            <div class="card-edit ps-3">
              <div class="first-section p-3">
                <span class="ic--sharp-bar-chart"></span>
              </div>
              <div class="second-section ms-3">
                <span class="card-sm-text">Draft</span>
                <h5 class="card-bg-text">106</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Big Upload Card -->
    <div class="row mt-4 px-4">
      <div class="col-12">
        <div class="upload-card">
          <div class="upload-btn">
            <img src="../assets/icon-upload.png" alt="" />
            <h5 class="upload-text-one">
              Add documents using drag and drop or the button below
            </h5>
            <p class="upload-text-two">
              Once added, your document will be displayed here
            </p>
            <button class="btn-edit btn mt-2">
              <i
                style="font-size: 20px; text-align: center; color: #0265dc"
                class="fa fa-plus mb-1"
                aria-hidden="true"
              ></i>
              Upload Document
            </button>
          </div>
        </div>
      </div>
    </div>

  <app-table></app-table>

    <div class="container my-3 px-4">
      <!-- Two Responsive Cards -->
      <div class="row row-cols-1 row-cols-lg-2 g-4">
        <div class="col">
          <div class="card special-card p-0" style="background-color: #d2e0fd">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="../assets/payment-img.png"
                  class="img-fluid rounded-start"
                  alt="Card Image 1"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title card-text-one" [ngStyle]="fontStyle('600', '15px')">Pricing</h5>
                  <p class="card-text card-text-two" [ngStyle]="fontStyle('400', '15px')">
                    From easier tracking to reusable templates, there's a plan
                    for your business. View Plans
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card special-card p-0" style="background-color: #fee4d1">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="../assets/testing-img.png"
                  class="img-fluid rounded-start"
                  alt="Card Image 2"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title card-text card-text-one" [ngStyle]="fontStyle('600', '15px')">
                    Need help getting started?
                  </h5>
                  <p class="card-text card-text card-text-two" [ngStyle]="fontStyle('400', '15px')">
                    From easier tracking to reusable templates, there's a plan
                    for your business. View Plans
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
