<!--     
      Responsive Table -->
<div class="row mt-5 px-4">
  <div class="col-12">
    <h5>Recent</h5>
    <table class="table">
      <thead>
        <th class="gap-5 p-6">
          <input type="checkbox" />
          <span>NAME</span>
        </th>
        <th>DATE</th>
        <th>SIGNERS</th>
        <th>SIZE</th>
        <th> ACTION</th>
      </thead>
      <tbody
          style="
            border-left: solid rgb(245, 242, 242) 1px;
            border-right: solid rgb(245, 242, 242) 1px;
            border-top: solid rgb(245, 242, 242) 1px;
            border-radius: 15px;
          "
          class="p-5"
        >
          <tr class="p-4">
            <td class="p-4">
              <div class="pdf-container">
                <img
                  src="../assets/pdf-image.png"
                  alt="PDF Thumbnail"
                  class="me-2"
                />
                <div class="pdf-name">
                  <span class="mt-4">LinkedIn Profile.pdf</span>
                  <p class="edit-para">PDF</p>
                </div>
              </div>
            </td>
            <td class="p-4">Sep 6, 2023 at 2:58pm</td>
            <td class="p-4">5</td>
            <td class="p-4">10 MB</td>
            <td class="p-4"><i class="bi bi-three-dots"></i></td>
          </tr>
          <tr>
            <td class="p-4">
              <div class="pdf-container">
                <img
                  src="../assets/pdf-image.png"
                  alt="PDF Thumbnail"
                  class="me-2"
                />
                <div class="pdf-name">
                  <span class="mt-4">LinkedIn Profile.pdf</span>
                  <p class="edit-para">PDF</p>
                </div>
              </div>
            </td>
            <td class="p-4">Sep 6, 2023 at 2:58pm</td>
            <td class="p-4">5</td>
            <td class="p-4">10 MB</td>
            <td class="p-4"><i class="bi bi-three-dots"></i></td>
          </tr>
          <tr>
            <td class="p-4">
              <div class="pdf-container">
                <img
                  src="../assets/pdf-image.png"
                  alt="PDF Thumbnail"
                  class="me-2"
                />
                <div class="pdf-name">
                  <span class="mt-4">LinkedIn Profile.pdf</span>
                  <p class="edit-para">PDF</p>
                </div>
              </div>
            </td>
            <td class="p-4">Sep 6, 2023 at 2:58pm</td>
            <td class="p-4">5</td>
            <td class="p-4">10 MB</td>
            <td class="p-4"><i class="bi bi-three-dots"></i></td>
          </tr>
          <tr>
            <td class="p-4">
              <div class="pdf-container">
                <img
                  src="../assets/pdf-image.png"
                  alt="PDF Thumbnail"
                  class="me-2"
                />
                <div class="pdf-name">
                  <span class="mt-4">LinkedIn Profile.pdf</span>
                  <p class="edit-para">PDF</p>
                </div>
              </div>
            </td>
            <td class="p-4">Sep 6, 2023 at 2:58pm</td>
            <td class="p-4">5</td>
            <td class="p-4">10 MB</td>
            <td class="p-4"><i class="bi bi-three-dots"></i></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
